
.customize-partial-edit-shortcut.customize-partial-edit-shortcut-bk_tbl_cta_endis button {
	top: 30px;
	left: 20px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-ovrly_menu_endis button {
	top: 22px;
	left: 7px;
}
